<link rel="stylesheet" href="~/css/Style.css" />
<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<br /><br />
<div id="confirm">
    <h1>HTTP ERROR @Model</h1>
    <h3>
        There was a problem with your request. Please try again later.
    </h3>
</div>