<link rel="stylesheet" href="~/css/Style.css" />
<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<br /><br />
<div id="confirm">
    <h1>SERVER ERROR</h1>
    <h3>
        It would seem we messed up. We apologize for any ínconvenience this may cause.
    </h3>
</div>