@model UpdateOfferWrapperVM

<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<style type="text/css">
    .error {
        border: 2px solid red;
    }

    .valid {
        border: 2px solid limegreen;
    }
</style>
<div class="container">
    <form asp-controller="Company" asp-action="UpdateOffer" asp-route-id="@Model.UpdateCustomerInfoVM.CID">
        <!-- Personuppgifter fieldset -->
        <fieldset>
            <legend class="hideFieldset">Personuppgifter:</legend>
            <div class="hiddenFieldset">
                <table class="CustReqOffer_table">
                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.FirstName" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.FirstName" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.FirstName" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.LastName" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.LastName" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.LastName" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.Street" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.Street" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.Street" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.Zip" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.Zip" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.Zip" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.City" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.City" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.City" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.Email" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.Email" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.Email" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.Phone" class="label_text"></label></td>
                        <td><input asp-for="UpdateCustomerInfoVM.Phone" class="input_field" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateCustomerInfoVM.Phone" class="span_validation"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdateCustomerInfoVM.TextBox" class="label_text"></label></td>
                        <td>
                            <textarea asp-for="UpdateCustomerInfoVM.TextBox"></textarea><br />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Antal ROT berättigade i hushållet</b></td>
                        <td><input asp-for="UpdateOrderInfoVM.ViableROTCandidates" class="input_field" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateOrderInfoVM.ViableROTCandidates" class="span_validation"></span></td>
                    </tr>
                </table>
                <!-- Uppdragsuppgifter -->
                <table class="CustReqOffer_table">
                    <tr>
                        <td><label asp-for="UpdateOrderInfoVM.ProjectType" class="label_text"></label></td>
                        <td><select asp-for="UpdateOrderInfoVM.ProjectType" asp-items="Model.UpdateOrderInfoVM.ProjectTypeItems" class="input_field"></select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateOrderInfoVM.ProjectType" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateOrderInfoVM.SquareMeter" class="label_text"></label></td>
                        <td>
                            <input asp-for="UpdateOrderInfoVM.SquareMeter" class="input_field" /><br />
                            <span asp-validation-for="UpdateOrderInfoVM.SquareMeter" class="span_validation"></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdateOrderInfoVM.PropertyType" class="label_text"></label></td>
                        <td><select asp-for="UpdateOrderInfoVM.PropertyType" asp-items="Model.UpdateOrderInfoVM.PropertyTypeItems" class="input_field"></select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span asp-validation-for="UpdateOrderInfoVM.PropertyType" class="span_validation"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdateOrderInfoVM.OrderReceived" class="label_text"></label></td>
                        <td>
                            <input asp-for="UpdateOrderInfoVM.OrderReceived" class="input_field" /><br />
                            <span asp-validation-for="UpdateOrderInfoVM.OrderReceived" class="span_validation"></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdateOrderInfoVM.RequestedStartDate" class="label_text"></label></td>
                        <td>
                            <input asp-for="UpdateOrderInfoVM.RequestedStartDate" class="input_field" /><br />
                            <span asp-validation-for="UpdateOrderInfoVM.RequestedStartDate" class="span_validation"></span>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </fieldset>
        &emsp;&emsp;
        <!-- Material uppgifter fieldset -->
        <fieldset>
            <legend class="hideFieldset">Material: (ej obligatorisk)</legend>
            <div class="hiddenFieldset">
                <table class="CustReqOffer_table">
                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Shower" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Shower" asp-items="Model.UpdateSelectedProductsVM.ShowerItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Shower" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Toilet" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Toilet" asp-items="Model.UpdateSelectedProductsVM.ToiletItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Toilet" class="span_validation"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Sink" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Sink" asp-items="Model.UpdateSelectedProductsVM.SinkItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Sink" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Cabinet" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Cabinet" asp-items="Model.UpdateSelectedProductsVM.CabinetItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Cabinet" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Faucet" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Faucet" asp-items="Model.UpdateSelectedProductsVM.FaucetItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Faucet" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Lighting" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Lighting" asp-items="Model.UpdateSelectedProductsVM.LightingItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Lighting" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Tile" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Tile" asp-items="Model.UpdateSelectedProductsVM.TileItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Tile" class="span_validation"></span></td>
                    </tr>

                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.Clinker" class="label_text"></label></td>
                        <td><select asp-for="UpdateSelectedProductsVM.Clinker" asp-items="Model.UpdateSelectedProductsVM.ClinkerItems" class="input_field"></select></td>
                        <td><span asp-validation-for="UpdateSelectedProductsVM.Clinker" class="span_validation"></span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdateSelectedProductsVM.TotalProductCost" class="label_text"></label></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </fieldset>

        &emsp;&emsp;
        <!-- Arbetskostnader -->
        <fieldset>
            <legend>Arbetskostnader</legend>
            <table class="CreateOffer_table">
                <tr>
                    <td></td>
                    <td>Antal tim</td>
                    <td>Tim deb.</td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.DemolitionHours" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.DemolitionHours" class="numHours1 key input_work" /></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.HourlyRateDemolition" class="numDeb1 key input_work" step="any" /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.DrainHours" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.DrainHours" class="numHours2 key input_work" /></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.HourlyRateDrain" class="numDeb2 key input_work" /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.MountingHours" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.MountingHours" class="numHours3 key input_work" /></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.HourlyRateMounting" class="numDeb3 key input_work" /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.TileHours" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.TileHours" class="numHours4 key input_work" /></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.HourlyRateTile" class="numDeb4 key input_work" /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.ElectricityHours" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.ElectricityHours" class="numHours5 key input_work" /></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.HourlyRateElectricity" class="numDeb5 key input_work" /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.VentilationHours" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.VentilationHours" class="numHours6 key input_work" /></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.HourlyRateVentilation" class="numDeb6 key input_work" /></td>
                </tr>
                <tr>
                    <td><b>Totalt:</b></td>
                    <td><input type="text" class="sumHours input_readOnly" readonly /></td>
                    <td><input type="text" class="sumCost input_readOnly" readonly /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.TravelCost" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.TravelCost" class="input_work" /></td>
                </tr>
                <tr>
                    <td><label asp-for="UpdateAmountOfWorkVM.WorkDiscount" class="label_text"></label></td>
                    <td><input asp-for="UpdateAmountOfWorkVM.WorkDiscount" class="input_work" /></td>
                </tr>
            </table>
        </fieldset>
        <div class="div_buttons"><p><button onclick="goBack()" style="vertical-align:middle; width:230px;" class="button_back"><span>Tillbaka</span></button> <button type="submit" style="vertical-align:middle; width:230px;" class="button"><span>Uppdatera</span></button></p></div>
    </form>
</div>

@section Scripts
    {
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/Script.js"></script>
    <script src="~/js/legend.js"></script>
}