<link rel="stylesheet" href="~/css/Style.css" />
<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<br /><br />
<div id="confirm">
    <h1>Tack för din förfrågan!</h1>
    <h3>Vi kommer behandla din förfrågan inom 24tim och<br />
    skicka den till din angivna E-post adress.</h3>
</div>