body {
    font-family: Calibri;
    margin-left: 30px;
    margin-top: 30px;
}

.container {
    position: relative;
    height: 600px;
    margin: 0 auto
}

.div_buttons {
    text-align:right;
    margin-right:7px;
}

.span_validation {
    color: red;
    line-height: normal;
    font-size: 13px;
}

.input_field {
    width: 200px;
    height: 20px;
}

fieldset {
    width: 350px;
    height: 350px;
    padding: 30;
    line-height: 30px;
    margin: 0;
    display: inline-block;
}

.CustReqOffer_table {
    width: 100%;
}

/*send & reset button on startpage*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: limegreen;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
/* END */

/* Nikola - Final Offer */

#BigFieldset {
    background-color: #eeeeee;
    resize: both;
    margin: auto;
    width: 80%;
}

#BigFieldsetLegend {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#CustomerInfo, #WorkInfo, #CompanyInfo {
    border: hidden;
    display: inline-block;
    margin-left: 14%;
}

#Bestallare th {
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

#SmallHr {
    border: none;
    height: 1px;
    width: 85%;
}

#Resekostnader th, #Artiklar th, #Arbete th {
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

#Artiklar, #Arbete, #Resekostnader {
    border-collapse: collapse;
    width: 70%;
    margin: auto
}

    #Resekostnader td, #Resekostnader tr,
    #Artiklar tr, #Artiklar td,
    #Arbete tr, #Arbete td {
        border: 1px solid black;
    }

h3 {
    text-align: center;
    font-weight: bold;
}

/* Nikola - Create Offer*/

#row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#column1 {
    display: flex;
    flex-direction: column;
}

#column2 {
    display: flex;
    flex-direction: column;
}

#column3 {
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;
}

table {
    width: 100%;
}

#ArbetskostnadTabell td {
    font-weight: bold;
}
/* END */