body {
    font-family: Calibri;
    margin-left: 30px;
    margin-top: 30px;
}

.container {
    position: relative;
    height: 600px;
    margin: 0 auto;
    padding-top:20px;
}

.hideFieldset:after {
    content: " \25b6";
    cursor: pointer;
}

.showFieldset:after {
    content: " \25bc";
    cursor: pointer;
}

.hiddenFieldset {
    display: none;
    cursor: pointer;
}

.div_buttons {
    text-align:right;
    padding-top:40px;
}

legend {
    font-weight:bold;
    font-size:18px;
    color:#114a11;
}

textarea {
    width: 200px;
    height: 50px;
}

.span_validation {
    color: red;
    line-height: normal;
    font-size: 13px;
}

.input_field {
    width: 230px;
    height: 38px;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    padding:6px;
}

.input_work {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px;
}

.input_readOnly {
    width: 100px;
    height: 30px;
    margin: 8px 0;
    border-bottom: 2px solid black;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    padding: 6px;
}

#header {
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #bfdfff;
    top: 0;
    padding: 10px;
}

#confirm {
    text-align:center;
    width:800px;
    height:250px;
    padding:20px;
    background-color:#c7ffbf;
    margin:auto;
    position:relative;
    border:8px dashed #527e54;
}

fieldset {
    width: 350px;
    height: 100%;
    padding-bottom:30px;
    margin: 0;
    display: inline-block;
}

.label_text {
    font-weight:bold;
}

.CustReqOffer_table {
    width: 100%;
}

.CreateOffer_table {
    width: 100%;
}

.input-symbol-sek {
    position: relative;
}

    .input-symbol-sek input {
        padding-right: 15px;
    }

    .input-symbol-sek:after {
        position: absolute;
        top: 0;
        content: "SEK";
        right: 5px;
    }

.input-symbol-tim {
    position: relative;
}

    .input-symbol-tim input {
        padding-right: 15px;
    }

    .input-symbol-tim:after {
        position: absolute;
        top: 0;
        content: "TIM";
        right: 5px;
    }

textarea {
    width: 250px;
    height: 100px;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px;
}
/* Final offer Diar */

#wrapper {
    width:60%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.aboutleft,
.aboutright {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    background-color: aliceblue;
    padding: 15px;
    margin: 0;
    border-radius:10px;
}

.vline {
    display: inline-block;
    vertical-align: top;
    background-color: aliceblue;
    margin: 0;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
}

.vline2 {
    background-color: aliceblue;
    width: 90.6%;
    padding: 20px;
    clear: both;
    border-radius: 10px;
}

.vline2_button {
    width: 90.6%;
    padding: 10px;
    clear: both;
    text-align:right;

}

.offer_h4 {
    color: #3b7798;
    font-weight:bold;
}


/*send & reset button on startpage*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3b7798;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
/* END */

/*back button*/
.button_back {
    display: inline-block;
    border-radius: 4px;
    background-color:#808080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button_back span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button_back span:after {
            content: '\00ab';
            position: absolute;
            opacity: 0;
            top: 0;
            left: -110px;
            transition: 0.5s;
        }

    .button_back:hover span {
        padding-left: 25px;
    }

        .button_back:hover span:after {
            opacity: 1;
            right: 0;
        }
/* END */

/* Nikola - Final Offer */

#myTable2 tr {
    cursor:pointer;
}

#BigFieldset {
    background-color: #eeeeee;
    resize: both;
    margin: auto;
    width: 80%;
}

#BigFieldsetLegend {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#CustomerInfo, #WorkInfo, #CompanyInfo {
    border: hidden;
    display: inline-block;
    margin-left: 14%;
}

#Bestallare th {
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

#SmallHr {
    border: none;
    height: 1px;
    width: 85%;
}

#Resekostnader th, #Artiklar th, #Arbete th {
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

#Artiklar, #Arbete, #Resekostnader {
    border-collapse: collapse;
    width: 70%;
    margin: auto
}

    #Resekostnader td, #Resekostnader tr,
    #Artiklar tr, #Artiklar td,
    #Arbete tr, #Arbete td {
        border: 1px solid black;
    }

h3 {
    text-align: center;
    font-weight: bold;
}
