<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/css/Style.css" />
</head>
<body>
    <div id="header"><a href="~/home/customerrequestoffer">Gör en förfrågan</a> | <a href="~/company/inquiries">Alla förfrågningar</a></div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
