<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/css/Style.css" />
</head>
<body>
    <div id="header"><img src="~/img/logo.png" align="left" />@*<a href="~/home/customerrequestoffer">Gör en förfrågan</a> | <a href="~/company/inquiries">Alla förfrågningar</a>*@
        <h2 style="text-align:right; font-weight:bold; color:#0f3a68; padding-right:10px;">Offerthanterare</h2>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
